@import "tailwindcss";

@font-face {
  font-family: "BurmeseHandwriting";
  src: url("/fonts/Burmese-Handwriting.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Z01-Umoe002";
  src: url("/fonts/Z01-Umoe002.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MyanmarPauklay";
  src: url("/fonts/MyanmarPauklay.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-burmese: "BurmeseHandwriting", san-serif;
  --font-rib: "Ribeye", sans-serif;
  --font-umoe: "Z01-Umoe002", sans-serif;
  --font-pauklay: "MyanmarPauklay", sans-serif;
}
